<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/mitarbeiter">Mitarbeiter<span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/urlaubsplanung">Urlaubsplanung</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/gehaltsabrechnung">Gehaltsabrechnung</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/infos">Infos</a>
      </li>
    </ul>

  </div>
</nav>


