h1, h2, h3, h4, h5, h6 {
  color: dodgerblue;
}

ul {
  li {
    list-style: none;
  }
}

.input-button {
  cursor: pointer;
}

//For holidays

.set-holidays {
  margin-top: 31px;
}

.holiday-list {
  margin-top: 5px;
}
