<div class="row">
  <div class="col-md-6">
    <h5>Urlaub</h5>
    <form>
      <div class="input-group">
        <input type="text" class="form-control flatpickr" id="formGroupExampleInput" placeholder="Bitte wähle ein Datum"
               data-input aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-outline-secondary" type="button">
            <a class="input-button" title="toggle" data-toggle>
              <i class="fa fa-calendar"></i>
            </a>
          </button>
          <button class="btn btn-outline-secondary" type="button">
            <a class="input-button" title="clear" data-clear>
              <i class="fa fa-close"></i>
            </a>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
<hr>
