<div id="mitarbeiter">
  <div class="row">
    <div class="col-md-12">
      <h3>Mitarbeiter anlegen und bearbeiten</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Mitarbeiter hinzufügen
      </button>
    </div>
  </div>
  <hr>
</div>
<div id="mitarbeiterListe">
  <div class="row">
    <div class="col-md-6 left-content">
      <h4>Mitarbeiter</h4>
      <hr>
      <app-mitarbeiter-liste (membersWasSelected)="selectedMember = $event"></app-mitarbeiter-liste>
    </div>
    <div class="col-md-6">
      <h4>Mitarbeiter Details</h4>
      <hr>
      <app-mitarbeiter-details *ngIf="selectedMember; else infoText" [user]="selectedMember"></app-mitarbeiter-details>
      <ng-template #infoText>
        <div class="alert alert-danger" role="alert">
          <i class="fa fa-info-circle"></i>
          Um Mitarbeiter Details zu sehen wähle bitte einen Mitarbeiter aus.
        </div>
      </ng-template>
    </div>
  </div>

</div>
